body {
  scroll-behavior: smooth;
}

.blok {
  display: inline-block;
}

i {
  margin-left: 20px;
}

/* li{
    list-style: none;
} */

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
}
